body{
    display: flex;
    flex-direction: column;
    margin: 0;
    background-color: #234e4c;
    width: 100v;
}
ul{
    list-style: none;
    display: flex;
    font-size: 18px;
    gap:12px;
    
}
img{
    width: 250px;
    height: 200px;

}
.smile{
    width: 500px;
    height: auto;
}
a{
    text-decoration: none;
    color:#E5E7EB
}
.header{
    display: flex;
    justify-content: space-between;
    padding-left:210px;
    padding-right: 150px;
    background-color: #234e4c;
 
}
.header-logo{
    font-size: 24px;
    font-weight: 900;
    color:#F9FAF8;
    display: flex;
    justify-content: center;
    align-items: center;

}
.part-one{
    display: flex;
    justify-content: space-between;
    padding-left:210px;
    padding-right: 150px;
    padding-top: 64px;
    padding-bottom: 40px;
    gap:40px;
    color:white;
}
.passage{
    font-size: 18px;
}
.signup-first{
    height: 40px;
    margin-top: 20px;
    width:100px;
    border-radius: 10px;
}
.random-info{
    font-size: 36px;
    font-weight: 600;

}
.title{
    font-size: 48px;
    font-weight: 900;
    color:#F9FAF8
    
}
.first{
    display: flex;
    flex-direction: column;
}
.part-two{
    display: flex;
    flex-direction: column;
    background-color: white;
    justify-content: center;
    align-items: center;
    gap:20px;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 70px;
    width:100%;
    
}
.images-container{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap:50px;
    padding-right:20px;
}
.first-image{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    width: 250px;
}
.paragraph{
    padding: 10px;
    text-align: center;
}
.second-image{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
    width: 250px;
    
}
.third-image{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    width: 250px;
    
}
.fourth-image{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    width: 250px;
    
}
.four-images{
    border: #91c49f;
    border-width: 5px;
    border-style: solid;
    border-radius: 10px;
}
.part-three{
    background-color: #caf5b1;
    padding-top: 50px;
    padding-left:210px;
    padding-right: 150px;
    padding-bottom: 50px;
}
.quote{
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
}
.person-container{
    display: flex;
    justify-content: end;
}
.person{
    font-size: x-large;
    font-weight: 600;
}
.part-four{
    padding-top: 50px;
    background-color: white;
    padding-left:210px;
    padding-right: 150px;
}
.card-holder{
    display: flex;
    justify-content: space-between;
    background-color: #3a7471;
    height: 150px;
    width: 90%;
    margin: 50px;
    border: solid;
    border-color: #84886b;
    border-radius: 10px;
    
}
.info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 45px;
    color: white;
    
}

.button-container{
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 40px;
}
.second-button{
    height: 40px;
    margin-top: 20px;
    width:100px;
    border-radius: 10px;
}
.action{
    font-size: 36px;
    color: white;
}
.footer{
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        height: 80px;
        font-weight: 500;
        font-size: 24px;
       
}